<html>
<head>
    <title>Distribib</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="icon" src="media/favicon.ico">
</head>

<body>
<div class="container">
    <div class="row">
        <div class="container">
            <img src="https://distribib.be/logo.png" alt="Distribib logo" class="center" style="max-width: 100%; height: auto">
            <br>
            <br>
            <p class="text-center">Upload je peppol xml file om het te converteren naar het juiste formaat.</p>
            <br>
            <div class="file-upload center">
                <form action="http://127.0.0.1:5000/uploader" method = "POST" enctype="multipart/form-data">
                    <input type = "file" name = "file" />
                    <input type = "submit"/>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>

<script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js">
</script>


<style>
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
</style>